        <footer>
            <div class="links">
                <ul>
                    <lh>General Links</lh>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/published-work">Published Works</a></li>
                </ul>
                
                <ul>
                    <lh>More Links</lh>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/subscribe">Subscribe</a></li>
                </ul>
            </div>
            <p>&copy; {{ site.time | date: '%Y' }} Linda Juliano All Rights Reserved. Designed and built by <a href="https://www.elixir49.com">Elixir49</a></p>
        </footer>
    </body>
</html>