<nav>
    <div class="topnav" id="myTopnav">
        <a href="{{ site.url }}">Home</a>
        <a href="">Contact</a>

        <!-- Easily add a dropdown menu with more links by uncommenting below -->

        <!-- <div class="dropdown">
        <button class="dropbtn">Services
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="{{ site.dev }}">Design and Development</a>
            <a href="{{ site.web-presence }}">Web Presence</a>
            <a href="{{ site.service }}">Personalized Service</a>
            <a href="{{ site.maintenence }}">Maintenence</a>
        </div>
        </div> -->

        <a href="">Purchase</a>
        <a href="">About</a>
        <a href="">Blog</a>
        <a href="" class="get_started">Subscribe</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
</nav>