<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;700&family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
        <script src="/assets/js/site.js"></script>

        <meta name="description" content="{{ page.description }}">
        {% if page.additional_tags %}
            {{ page.additional_tags }}
        {% endif %}

        <meta property="og:url"                content="{{ site.url }}{{ page.url }}" />
        <meta property="og:type"               content="website" />
        <meta property="og:title"              content="Linda Juliano | {{ page.title }}" />
        <meta property="og:description"        content="The personal site of writer Linda Juliano." />
        <meta property="og:image"              content="/assets/hero-image.png" />

        <title>Linda Juliano | {{ page.title }}</title>
    </head>
    <body>