<div class="form-container">
    <form name="subscribe" aria-label="sign up for my newsletter" method="POST" action="https://tinyletter.com/LindaJuliano" target="popupwindow" onsubmit="window.open('https://tinyletter.com/LindaJuliano', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <label for="email">Email Address</label>
        <input type="email" id="email" name="_replyto" class="full-width"><br>
        <input type="submit" value="Subscribe!" class="button">
    </form>
</div>