<div class="form-container">
    <form name="subscribe" aria-label="sign up for my newsletter" method="POST" action="https://buttondown.email/api/emails/embed-subscribe/lindajuliano" target="popupwindow" onsubmit="window.open('https://buttondown.email/lindajuliano', 'popupwindow')">
        <label for="email">Email Address</label>
        <input type="email" id="email" name="email" class="full-width"><br>
        <input type="hidden" value="1" name="embed">
        <input type="submit" value="Subscribe!" class="button">
    </form>
</div>