//navbar colors
$nav-background: rgba(117,178,255,1) 100%;
$nav-links-text: white;
$nav-links-hover: rgb(77, 151, 241);
$nav-links-hover-text: white;
$subscribe-background: #FFFEB0;
$subscribe-link-text: black;
$subscribe-link-hover: rgb(204, 201, 15);
$subscribe-link-hover-text: white;
$active-page-link: green;
$active-page-link-text: white;