---
---
* {
    margin: 0;
    padding: 0;
}

::selection {
    background-color: lightcoral;
}

:focus {
    border: 2px solid lightpink;
}

@import "navbar.scss";
@import "colors.scss";
@import "typography.scss";
@import "home.scss";
@import "post.scss";
@import "pages.scss";
@import "footer.scss";