---
layout: default
---
{% include posts_head.html %}
<!-- {% if post.image and post.image != "" %}
    <div class="hero" style="background-image: url({{ post.image | absolute_url }}); alt={{ post.title }}"></div>
{% else %}
    <div class="hero" style="background-image: url(/assets/hero-image.png); alt={{ post.title }}"></div>
{% endif %}
 -->

{% include nav.html %}
<main class="blog-post">
    <div class="page-info">
        <div class="title">
            <h1>{{ page.title }}</h1>
            <span class="tagline"><i>{{ page.tagline }}</i></span>
            <div class="info">
                <span class="date">{{ page.date | date: '%B %-d, %Y' }}</span>
                <span class="pipe">|</span>
                {% for tag in page.tags %}
                    <a class="tag" href="/tags#{{ tag }}">🏷️ {{ tag }}</a>
                {% endfor %}
                {% if page.category == "Archived" %}
                <a class="tag" id="archived" href="">🗄️ Archived</a>
                {% endif %}
            </div>
        </div>
    </div>

    <article>
        {{ content }}
    </article>

    <section class="social">
        {% include share_buttons.html %}
    </section>

    {% include post_navigation.html %}
</main>